{% extends 'main/base.html' %}

{% block title %}
{% endblock %}

{% block content %}
<section class="hero">
  <div class="container ">

    <div class="text-center mb-4">
     <h1 class="display-5 fw-bold">Life is a journey, <span class="text-share">share it</span> !</h1>
      <p class="lead">Share your trips and inspire others to explore.</p>

   <div class="search-bar rounded-4 shadow p-3 bg-white my-5 ">
     <form method="GET" action="{% url 'trip:search_trip_view' %}" class="row g-2 align-items-center justify-content-center">
          <div class="col-md-4">
            <input 
              type="text" 
              name="search" 
              class="form-control" 
              placeholder="Search by title or city" 
              value="{{ search_input|default:'' }}">
          </div>
          <div class="col-md-4">
            <select name="category" class="form-select">
              <option value="" {% if not category_filter %}selected{% endif %}>All Categories</option>
              {% for value, label in categories %}
                <option value="{{ value }}" {% if category_filter == value %}selected{% endif %}>{{ label }}</option>
              {% endfor %}
            </select>
          </div>
          <div class="col-md-2 d-grid">
            <button type="submit" class="btn btn-primary rounded-4">
              <span class="material-symbols-outlined ">search</span>
            </button>
          </div>
        </form>
    </div>

  
    <div class="content-container mt-7 rounded-4">
      <div class="d-flex justify-content-between align-items-center mb-3">
  <div class="lasted-tripss-title m-0">
    <h3 class="mb-0 display-9 fw-bold ">Lasted Trips</h3>
  </div>
  <div class="more-link m-0">
    <a href="{% url 'trip:all_trips_view' %}" class=" display-9 fw-bold d-inline-flex align-items-center gap-1">
      More <span class="material-symbols-outlined">chevron_right</span>
    </a>
  </div>
</div>
      <div class="row g-4">
        {% for trip in trips %}
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card trip-card h-100 shadow-sm">
            <img src="{{ trip.image.url }}" class="card-img-top" alt="{{ trip.title }}">
            <div class="card-body">
              <span class="badge category-badge mb-2">{{ trip.get_category_display }}</span>
              <h5 class="card-title">{{ trip.title }}</h5>
              <p class="card-text text-muted"> 📍 {{ trip.location }}</p>
              <a href="{% url 'trip:trip_detail_view' trip.id %}" class="btn btn-outline-primary w-100">See Details</a>
            </div>
          </div>
        </div>
        {% empty %}
        <p class="text-center">No trips found.</p>
        {% endfor %}
      </div>
    </div>

  </div>
</section>
{% endblock %}