{% extends 'main/base.html' %}

{% block content %}

<section class="trips d-flex flex-column py-5">
  <div class="container flex-grow-1">
    <div class="content-container p-4 bg-white rounded-4 shadow-sm mx-auto py-5" style="max-width: 1200px;">
        <div class="text-center mb-4">
      <h2 class="display-9 ">Messages Inbox</h2>
      <p class="lead">Here are the messages submitted by users.</p>
      </div>
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4 ">
    {% for message in messages %}
    <div class="col">
  <div class="card h-100 rounded-4">
  <div class="card-body d-flex flex-column justify-content-center align-items-center text-center">
    <h5 class="icon"><span class="material-symbols-outlined">account_circle</span></h5>
    <h5 class="card-title">{{ message.first_name }} {{ message.last_name }}</h5>
    <h6 class="card-subtitle mb-2 text-primary">{{ message.email }}</h6>
    <p class="card-text">{{ message.message }}</p>
  </div>
</div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>
</section>

{% endblock %}