{% extends 'main/base.html' %}
{% load static %}

{% block title %}Inspiration Videos{% endblock %}

{% block content %}
<section class="py-5 d-flex justify-content-center">
  <div class="content-container p-4 bg-white rounded-4 shadow-sm mx-auto py-5" style="max-width: 1200px;">
    <h2 class="mt-4 text-center fs-3">Get Inspired for Your Next Journey</h2>
    <p class="text-center text-muted ">Please select a category to get inspired!</p>

    <form method="get" class="mb-2 d-flex justify-content-center gap-2 flex-wrap">
      {% for value, label in categories.items %}
        <button type="submit" name="category" value="{{ value }}" class="btn {% if selected_category == value %}btn-primary{% else %}btn-outline-primary{% endif %} rounded-pill">
          {{ label }}
        </button>
      {% endfor %}
    </form>

    {% if video_url %}
      <div class="d-flex justify-content-center mb-3">
  <div class="ratio ratio-16x9 w-100" style="max-width: 900px;">
    <iframe src="{{ video_url }}" title="Inspiration Video" allowfullscreen  class="rounded border-0"></iframe>
       </div>
    </div>
      <div class="text-center">
       <a href="?category={{ selected_category }}&current={{ video_url }}" class="btn btn-outline-primary rounded-pill">Explore another place</a>
    {% elif selected_category %}
      <p class="text-center text-muted mt-4">No videos available for this category at the moment.</p>
    {% else %}
    {% endif %}

  </div>
</section>
{% endblock %}
